


body {
    background-image: url('/public/b.jpg');
    background-size: cover;
    color: #bba2cc;

  }

  input {
    align-content: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
  }

 
 
  
 

  